.banner {
  background-image: linear-gradient(to top right, #3e3b64, #692d69);
  margin-top: 40px;
  padding: 120px 200px;
}

.banner h1 {
  width: 40%;
  line-height: 50px;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 0;
}

.banner h1:first-child {
  color: #fff;
}

.banner h1:last-child {
  color: #a390ae;
}

.banner div {
  display: block;
  height: 240px;
  width: 2px;
  background: #a390ae;
}
